@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper {
 
    @apply md:w-[calc(100%+30px)] md:h-full rounded-2xl  md:absolute;

 
  }
  
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  
  }
  body{
    background-color:  #f1f8fe;
  }